@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

$color-yellow: #ffc107;
$color-gray: #45505c;
$color-light-gray: #939ea9;
$white: #fff;
$link-color: #a9b5c1;
$nav-link-color: #a9b5c1;
$font-parisienne: 'Parisienne', sans-serif;
$color-text: #424d58;

body {
  background: #fafafa;
}
@mixin flex {
  display: flex;
  justify-content: space-between;
}

@mixin container {
  width: 1200px;
  max-width: 100%;
}

@mixin flex-media {
  flex-direction: column;
  align-items: center;
}

@mixin flex-text {
  flex-direction: column;
  text-align: center;
}

@mixin a-italic {
  font-style: italic;
  font-family: 'Merriweather-Italic', 'Merriweather';
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
  &:hover {
    color: $white;
  }
}

@mixin width-770 {
  width: 770px;
  max-width: 100%;
}
@mixin line {
  background: $color-yellow;
  height: 2px;
}

@mixin a-normal {
  font-size: 13px;
  text-decoration: none;
  font-weight: 500;
}

@mixin img-default {
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
}

.header {
  position: relative;
  .container {
    @include container();
    @include flex;
  }
  &__contact {
    background: $color-gray;
    border-top: 2px solid $color-yellow;

    &--left {
      display: flex;
      .span {
        color: $color-yellow;
        margin: auto 0.5em;
      }
      .link {
        color: $color-light-gray;
        text-decoration: none;
        @include a-italic();
        margin: auto 1em;
      }
    }
    &--right {
      .link {
        @include a-normal();
        margin: 1em;
        color: $color-light-gray;
      }
      .dropdown {
        padding: 0;
        &-toggle {
          background: transparent;
          color: $color-light-gray;
          border: 0;
        }
      }
      .link__yellow {
        color: #ffc107;
      }
    }
  }

  .navb {
    .container {
      width: 1200px;
    }
    &__container {
      position: relative;
      .navbar-brand {
        font-size: 48px;
        font-weight: 700;
        font-style: italic;
        font-family: 'Lobster';
        color: $color-text;
        padding: 4px 0;
        &--span__yellow {
          color: $color-yellow;
        }
      }
      .toggle {
        position: absolute;
        top: 25px;
        right: 20px;
        display: none;
        border: none;
        transition: all 0.5s ease;
        background: transparent;
      }

      &--list {
        transition: all 0.5s ease;
        display: flex;
        list-style-type: none;
        margin: auto 0;
        .nav-item__slash {
          margin: auto 20px;
          color: $color-yellow;
        }

        .nav-item__slash__big {
          margin: auto 30px auto 0;
          .nav-bg {
            position: absolute;
            top: 0;
          }
        }
        .nav-item {
          z-index: 1;

          &:hover {
            .dropdown-menu {
              display: block;
            }
          }
          .nav-link {
            text-transform: uppercase;
            font-size: 13px;
            color: $nav-link-color;
            margin-top: 23px;
            padding-bottom: 27px;

            &__search {
              color: $white;
              &:hover {
                border-bottom: 2px solid $white;
              }
            }
            &:hover {
              border-bottom: 2px solid $color-yellow;
              color: $color-text;
            }
          }

          .dropdown-pages {
            margin-left: -250px;
          }
          .dropdown-menu {
            text-transform: uppercase;
            font-size: 12px;
            background: #45505c;
            padding: 15px;
            border-bottom: 2px solid $color-yellow;
            .drop-flex {
              display: flex;
            }
            .flex {
              padding: 0 1.5em;
              .dropdown-span {
                color: $white;
                font-size: 16px;
              }
            }

            .dropdown-item {
              color: $nav-link-color;
              .fas {
                color: $color-yellow;
                margin: auto 0;
                font-size: 10px;
                margin-right: 5px;
              }
              &:hover {
                color: $color-yellow;
                background: unset;
              }
            }
          }
        }
      }
    }
  }
}

.main {
  .hero__container {
    position: relative;
    &--relative {
      .carousel {
        position: unset;
        .carousel-inner {
          text-align: center;
          position: unset;
          .carousel-item {
            position: unset;
            width: 100%;
            max-width: 100%;
            height: 760px;
            @include img-default();
            &__text {
              text-transform: uppercase;
              color: $white;
              width: 400px;
              max-width: 100%;
              margin: auto;
              text-align: left;
              animation: 2s anim-lineUp ease-out;

              &--h1 {
                margin-top: 220px;
                font-size: 44px;
              }
              &--span-big {
                font-size: 143px;
                line-height: 0.5;
              }
              &--parag {
                text-align: right;
              }
            }
          }
          .item__1 {
            background: url('https://images.unsplash.com/flagged/photo-1559717865-a99cac1c95d8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80');
          }
          .item__2 {
            background: url('https://images.unsplash.com/photo-1557787451-4e55c8ab92a9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1631&q=80');
          }
          .item__3 {
            background: url('https://images.unsplash.com/photo-1523731407965-2430cd12f5e4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');
          }
        }
      }
    }
  }

  .hero__images {
    padding: 0;
    &__container {
      display: flex;
      &__img {
        width: 100%;
        max-width: 95%;
        height: 70px;
        @include img-default();
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        font-weight: 600;

        &:hover {
          z-index: 98;
          margin-top: -430px;
          height: 500px;
          opacity: 1;
          .hero__images__container__img--text-prime {
            @include flex();
          }
        }

        &--text-prime {
          justify-content: space-between;
          padding: 1em;
          color: $white;
          text-transform: uppercase;
          display: none;
          transition: all 0.2s ease 0.3s;
          .text__flex {
            &--text-capitalize {
              text-transform: capitalize;
            }
            &--h4 {
              font-size: 13px;
              color: $color-yellow;
              line-height: 0;
            }
            &--span-val {
              font-size: 26px;
            }
          }
        }
        &--text-second {
          color: $white;
          position: absolute;
          width: 100%;
          left: 2%;
          bottom: 0;

          .btn {
            color: $color-yellow;
            border: 2px solid $color-yellow;
            padding: 0 0.5em;
            margin: auto 2em;
            height: 50%;
            &:hover {
              background: $color-yellow;
              color: $white;
            }
            &:focus {
              box-shadow: unset;
            }
          }
        }
      }

      .img__1 {
        background: url('https://images.unsplash.com/photo-1502602898657-3e91760cbb34?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1473&q=80');
      }
      .img__2 {
        background: url('https://images.unsplash.com/photo-1516296270211-f3ae5494e65d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1075&q=80');
      }
      .img__3 {
        background: url('https://images.unsplash.com/photo-1587330979470-3595ac045ab0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');
      }
      .img__4 {
        background: url('https://images.unsplash.com/photo-1505881402582-c5bc11054f91?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80');
      }
    }
  }

  .offers__container {
    margin: 7em auto 0 auto;

    @include container();
    &__text {
      margin: auto;
      &--span {
        color: $color-yellow;
        font-size: 12px;
      }
      &--h2 {
        font-weight: 350;
        span {
          font-weight: 600;
        }
      }

      &--line {
        width: 100%;
        @include line();
      }
      &--parag {
        font-size: 15px;
        color: #939ea9;
      }
    }
    &__img {
      &--image {
        max-width: 100%;
      }
    }
  }

  .travel {
    padding: 0;
    &__container {
      &__img {
        @include img-default();
        width: 100%;
        height: 350px;
        position: relative;
        &:hover {
          opacity: 1;

          .travel__container__img__background {
            background: rgba(8, 8, 8, 0.371);
          }
          .travel__container__img__background--text-prime {
            .first {
              opacity: 1;
            }
          }
        }
        &__background {
          width: 100%;
          height: 350px;
          &--text-prime {
            padding: 1em;
            color: $white;
            text-transform: uppercase;
            transition: all 0.5s ease;

            .first {
              opacity: 0;
            }
            .text__flex {
              transition: all 0.5s ease;
              &--parag {
                text-transform: capitalize;
              }
              &--h4 {
                font-size: 13px;
                color: $color-yellow;
                line-height: 0;
              }
              &--span-money {
                font-size: 26px;
              }
            }
          }
          &--text-second {
            color: $white;
            position: absolute;
            width: 100%;
            left: 2%;
            bottom: 0;
            .text__flex {
              &--span-country {
                color: $color-yellow;
                font-size: 14px;
              }
            }
            .btn {
              color: $color-yellow;
              border: 2px solid $color-yellow;
              padding: 0 0.5em;
              margin: auto 2em;
              height: 50%;
              &:hover {
                background: $color-yellow;
                color: $white;
              }
              &:focus {
                box-shadow: unset;
              }
            }
          }
        }
      }
      // Images
      & {
        .display__1 {
          background: url('https://images.unsplash.com/photo-1444723121867-7a241cacace9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');
        }
        .display__2 {
          background: url('https://images.unsplash.com/photo-1500930287596-c1ecaa373bb2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');
        }
        .display__3 {
          background: url('https://images.unsplash.com/photo-1523374228107-6e44bd2b524e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');
        }
        .display__4 {
          background: url('https://images.unsplash.com/photo-1589394790585-7e024bb72352?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1486&q=80');
        }
        .display__5 {
          background: url('https://images.unsplash.com/photo-1528728329032-2972f65dfb3f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');
        }
        .display__6 {
          background: url('https://images.unsplash.com/photo-1528164344705-47542687000d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1492&q=80');
        }
        .display__7 {
          background: url('https://images.unsplash.com/photo-1495542779398-9fec7dc7986c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80');
        }
        .display__8 {
          background: url('https://images.unsplash.com/photo-1512470876302-972faa2aa9a4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');
        }
      }
    }
  }

  .stats {
    margin: 7em auto;
    @include container();
    text-align: center;
    &__list {
      list-style-type: none;
      padding-left: 0;
      &--item {
        margin: auto 0;
        img {
          margin: -1em 1em 0 0;
        }
        .item {
          text-align: left;
          &--span {
            font-size: 38px;
            color: #26282b;
          }
          &--span-text {
            font-size: 12px;
            color: $color-light-gray;
          }
        }
      }
    }
  }

  .about {
    .container {
      @include container();
    }
    &__background {
      background: url('https://images.unsplash.com/photo-1475070929565-c985b496cb9f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
      @include img-default();
    }
    &__container {
      .left {
        margin: auto 3em auto 3em;
        color: $white;
        &--h3 {
          font-size: 40px;
          &-yellow {
            color: $color-yellow;
          }
        }
        &--paragh {
          font-size: 15px;
        }
        &--line {
          margin: 2em 0;
          width: 70px;
          @include line;
        }
        &--text-paris {
          font-size: 30px;
          font-family: $font-parisienne;
        }
      }

      &--right {
        margin: 7em 0;
      }
    }
  }

  .recomended {
    background: #fafafa;
    padding: 7em 0;

    &__top {
      margin-bottom: 53px;

      .top {
        &--span {
          font-size: 12px;
          color: $color-yellow;
        }
        &--h2 {
          font-size: 38px;
          font-weight: 400;
          span {
            font-weight: 600;
          }
        }

        &--line {
          @include width-770();
          @include line();
        }
        &--parag {
          @include width-770();
          margin: 1em 0;
          font-size: 15px;
          color: $color-light-gray;
        }
      }
    }

    &__container {
      &--col {
        margin: 2em 0;
        @include flex;
        .content {
          @include flex;
          background: $white;
          width: 570px;
          height: 240px;
          position: relative;
          &--text {
            position: relative;
            transition: all 0.2s ease;
            padding: 40px 0 0 40px;
            .text_h4 {
              font-size: 16px;
              color: #424d58;
              line-height: 0;
              text-transform: uppercase;
            }
            .stars {
              img {
                margin-right: 10px;
              }
            }

            .price {
              font-size: 15px;
              color: $link-color;
              .dollar .dollar__span {
                font-size: 14px;
                color: #26282b;
                margin: auto 2px;
              }
              .number .number__span {
                color: #26282b;
                font-size: 26px;
                margin-right: 10px;
              }
            }
            .parag {
              margin-top: 10px;
              font-size: 14px;
              color: $color-light-gray;
            }
            .links {
              position: absolute;
              bottom: 0;
              text-transform: uppercase;
              .link {
                @include a-normal();
                margin-bottom: 10px;
                margin: auto 0;
                white-space: nowrap;
              }
              .link_bg {
                @include a-normal();
                margin-left: 50px;
                background: $color-yellow;
                width: 200px;
                padding: 1em 2.5em;

                color: $white;
              }
            }
          }
          &--display {
            width: 270px;
            height: 240px;
            max-width: 100%;
            clip-path: polygon(25% 0, 100% 0, 100% 100%, 0% 100%);
            @include img-default();
            transition: width 0.5s linear;

            .first {
              position: absolute;
              top: 10%;
              width: 100px;
              background: $color-yellow;
              padding: 0.2em 4em;
              font-size: 16px;
              color: $white;
              font-weight: 500;
            }
            .second {
              position: absolute;
              bottom: 2px;
              font-size: 14px;
              margin-bottom: 0.5em;
              color: $white;
              margin-left: 20px;
              transition: left 0.5s ease;
            }
            &:hover {
              clip-path: none;
              width: 570px;
              position: absolute;
              right: 0;
              .first {
                left: 0;
              }
              .second {
                left: 40%;
              }
            }
          }
          .img_1 {
            background: url('https://cf.bstatic.com/xdata/images/hotel/max1024x768/218447778.jpg?k=6b449b1aa5cd96fdd323ca0b23ea15eb89de8efad79eb4c467885c45a09ba1f7&o=&hp=1');
          }
          .img_2 {
            background: url('https://images.unsplash.com/photo-1543968332-f99478b1ebdc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
          }
          .img_3 {
            background: url('https://images.unsplash.com/photo-1564501049412-61c2a3083791?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80');
          }
          .img_4 {
            background: url('https://images.unsplash.com/photo-1574060603747-421196bce3f4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80');
          }
          .img_5 {
            background: url('https://images.unsplash.com/photo-1598598795009-f80c5072e665?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80');
          }
          .img_6 {
            background: url('https://images.unsplash.com/photo-1568084680786-a84f91d1153c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80');
          }
        }
      }
    }
    .container {
      @include container();
    }
  }

  .testimonials {
    background: #94a0ab;
    &__container {
      padding: 7em 0;
      &__top {
        margin-bottom: 53px;
        text-transform: uppercase;
        .top {
          &--span {
            font-size: 12px;
            color: $color-yellow;
          }
          &--h2 {
            font-size: 38px;
            color: $white;
            font-weight: 400;
            span {
              font-weight: 600;
            }
          }
          &--line {
            @include width-770();
            @include line();
          }
        }
      }

      &__card {
        .hover_card:hover {
          .card__img {
            height: 200px;
          }
        }
        .hover_card_1:hover {
          .card__img {
            height: 200px;
          }
        }
        .hover_card_2:hover {
          .card__img {
            height: 200px;
          }
        }
        .card {
          max-width: 100%;
          width: 370px;
          height: 622px;
          background: $white;
          position: relative;

          .img_card_bg1 {
            background: url('https://images.unsplash.com/photo-1584132967334-10e028bd69f7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
          }

          .img_card_bg2 {
            background: url('https://images.unsplash.com/photo-1571896349842-33c89424de2d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80');
          }
          .img_card_bg3 {
            background: url('https://images.unsplash.com/photo-1606046604972-77cc76aee944?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80');
          }

          &__img {
            @include img-default();
            width: 100%;
            height: 100px;
            transition: height 0.2s ease;
            position: absolute;
            .avatar_1 {
              background: url('https://i.pinimg.com/280x280_RS/12/d1/6f/12d16fb4fa3060d253c7aaf54744e8e9.jpg');
            }
            .avatar_2 {
              background: url('https://pbs.twimg.com/profile_images/1256482896082165760/ldjfABlH_400x400.jpg');
            }
            .avatar_3 {
              background: url('https://pbs.twimg.com/profile_images/799357758797594624/zvB-RS06_400x400.jpg');
            }
            &--avatar {
              @include img-default();
              width: 100px;
              height: 100px;
              margin: 50px auto;
              border-radius: 50%;
              border: 2px solid $white;
            }
          }
          &--content {
            text-align: center;
            margin: 215px auto;
            .card_text {
              color: $color-text;
              font-size: 20px;
              font-weight: 400;
              line-height: 0;
              .card_text__span {
                font-weight: 600;
              }
            }
            &-img {
              .star {
                margin: 12px 0 20px 0;
              }
            }

            .card-parag {
              margin: 0 50px 40px 50px;
              font-size: 15px;
              color: $color-light-gray;
            }
            .link {
              @include a-normal();
              text-transform: uppercase;
              color: $color-text;
              &:hover {
                color: $color-yellow;
              }
            }
            .line {
              text-align: center;
              background: $color-yellow;
              width: 30px;
              height: 2px;
              margin-top: 12px;
              margin-left: 170px;
              margin-bottom: 35px;
            }

            .card-content-footer {
              @include flex();
              margin: 0 40px;
              .footer-img {
                width: 90px;
                height: 90px;
              }
              .img_1 {
                @include img-default();
                background: url('https://images.unsplash.com/photo-1606046604972-77cc76aee944?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80');
              }
              .img_2 {
                @include img-default();
                background: url('https://images.unsplash.com/photo-1535827841776-24afc1e255ac?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80');
              }
              .img_3 {
                @include img-default();
                background: url('https://images.unsplash.com/photo-1543968332-f99478b1ebdc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
              }
            }
          }
        }
      }
    }
    .container {
      @include container();
    }
  }

  .gallery {
    background: #fafafa;
    padding: 7em 0;
    margin-bottom: 53px;
    .container {
      @include container();
    }
    &__top {
      max-width: 100%;
      margin: auto;
      .top {
        &--span {
          text-transform: uppercase;
          font-size: 12px;
          color: $color-yellow;
        }
        &--h2 {
          text-transform: uppercase;

          font-size: 38px;
          color: $color-text;
          font-weight: 400;
          span {
            font-weight: 600;
          }
        }

        &--line {
          @include width-770();
          @include line;
          margin-bottom: 32px;
        }

        &--parag {
          @include width-770();

          font-size: 15px;
          color: #b5b5b5;
        }
      }
    }

    &--first {
      @include flex();

      margin-bottom: 10px;
      .gallery-hover {
        width: 100%;
        height: 285px;
        .filter {
          width: 100%;
          transition: all 0.2s ease;
          height: 285px;
          &:hover {
            background: rgba(199, 226, 19, 0.45);
          }
        }
      }
      .gallery-flex_1 {
        width: 580px;
        height: 285px;
        background: url('https://images.unsplash.com/photo-1502784444187-359ac186c5bb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=465&q=80');
        @include img-default();
      }
      .gallery-flex_2 {
        background: $white;
        width: 285px;
        height: 285px;
        background: url('https://images.unsplash.com/photo-1602088113235-229c19758e9f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1167&q=80');
        @include img-default();
      }
      .gallery-flex_3 {
        background: $white;
        width: 285px;
        height: 285px;
        background: url('https://images.unsplash.com/photo-1602002418816-5c0aeef426aa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80');
        @include img-default();
      }
    }

    &--second {
      @include flex();
      margin-bottom: 10px;
      position: relative;
      .gallery-hover {
        width: 100%;
        height: 285px;
        .filter {
          width: 100%;
          transition: all 0.2s ease;
          height: 285px;
          &:hover {
            background: rgba(199, 226, 19, 0.45);
          }
        }
      }

      .gallery-flex_1 {
        background: $white;
        width: 285px;
        height: 285px;
        background: url('https://images.unsplash.com/photo-1498464619740-386503e7e7f5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1182&q=80');
        @include img-default();
      }
      .gallery-flex_2 {
        background: $white;
        width: 285px;
        height: 285px;
        background: url('https://images.unsplash.com/photo-1548957175-84f0f9af659e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1182&q=80');
        @include img-default();
      }
      .gallery-flex_3 {
        background: $white;
        width: 285px;
        height: 285px;
        background: url('https://images.unsplash.com/photo-1597634285596-01fd1bffe116?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80');
        @include img-default();
      }
      .gallery-flex_4 {
        background: $white;
        width: 285px;
        height: 285px;
        background: url('https://images.unsplash.com/photo-1564613469739-c78f970f9c17?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1147&q=80');
        @include img-default();
      }
    }
    &--third {
      @include flex();

      .gallery-hover {
        width: 100%;
        height: 285px;
        .filter {
          width: 100%;
          transition: all 0.2s ease;
          height: 285px;
          &:hover {
            background: rgba(199, 226, 19, 0.45);
          }
        }
      }
      .gallery-flex_1 {
        background: $white;
        width: 285px;
        height: 285px;
        background: url('https://images.unsplash.com/photo-1563806162750-3a24d473d648?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=386&q=80');
        @include img-default();
      }
      .gallery-flex_2 {
        background: $white;
        width: 285px;
        height: 285px;
        background: url('https://images.unsplash.com/photo-1590523277543-a94d2e4eb00b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80');
        @include img-default();
      }
      .gallery-flex_3 {
        background: $white;
        width: 580px;
        height: 285px;
        background: url('https://images.unsplash.com/photo-1609788077750-8cad3315eead?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
        @include img-default();
      }
    }
  }

  .blog {
    @include img-default();
    background: url('https://images.unsplash.com/photo-1525784451128-d1488f52f03e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1228&q=80');
    .container {
      @include container();
    }
    &__container {
      padding: 7em 0;
      &__top {
        max-width: 100%;
        margin: auto;
        .top {
          &--span {
            text-transform: uppercase;
            font-size: 12px;
            color: $color-yellow;
          }
          &--h2 {
            text-transform: uppercase;
            font-size: 38px;
            color: $color-text;
            font-weight: 400;
            span {
              font-weight: 600;
            }
          }

          &--line {
            @include width-770();
            @include line;
            margin-bottom: 32px;
          }

          &--parag {
            @include width-770();

            font-size: 15px;
            color: $white;
          }
        }

        &--right {
          margin-bottom: 30px;
        }
      }

      .owl-carousel {
        .item {
          width: 570px;
          max-width: 100%;
          background: $white;
          height: 270px;
          margin: 20px 20px 20px auto;

          .item-img {
            @include img-default();
            width: 270px;
            max-width: 100%;
            clip-path: polygon(0 0, 100% 0, 180px 100%, 0 100%);
            .reverse {
              height: 270px;
              animation: reversex 4s infinite linear;
            }

            .filter {
              width: 570px;
              max-width: 100%;
              height: 270px;
              background: linear-gradient(
                -45deg,
                #ee765225,
                #e73c7e31,
                #23a5d527,
                #f7f7f7
              );
              background-size: 600% 600%;
              animation: gradient 5s ease infinite !important;
            }
          }

          &-content {
            margin: 40px auto;
            .item_h4 {
              font-size: 16px;
              color: $color-text;
              text-transform: uppercase;
            }
            .item_span {
              font-size: 14px;
              color: $nav-link-color;
            }
            .item_parag {
              margin-top: 20px;
              font-size: 15px;
              line-height: 22px;
              color: #b5b5b5;
            }

            .link {
              @include a-normal();
              margin-left: 150px;
              color: $color-gray;
              &:hover {
                color: $color-yellow;
              }
            }
          }

          .item__1 {
            background: url('https://images.unsplash.com/photo-1643944398479-0fd9eaee5cbc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1174&q=80');
          }
          .item__2 {
            background: url('https://images.unsplash.com/photo-1643715996418-5e4b59dcbc39?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80');
          }
          .item__3 {
            background: url('https://images.unsplash.com/photo-1508672019048-805c876b67e2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1219&q=80');
          }
          .item__4 {
            background: url('https://images.unsplash.com/photo-1476514525535-07fb3b4ae5f1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
          }
          .item__5 {
            background: url('https://images.unsplash.com/photo-1552733407-5d5c46c3bb3b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=480&q=80');
          }
          .item__6 {
            background: url('https://images.unsplash.com/photo-1488085061387-422e29b40080?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1331&q=80');
          }
        }
      }
    }
  }

  .subscribe {
    background: $color-yellow;
    background-image: url('../assets/pattern.svg');
    width: 100%;
    .container {
      @include container();
      padding: 7em 0;
    }

    &__container {
      &--left {
        margin-top: -5px;
        .subscribe {
          &--span {
            color: $color-text;
            font-size: 12px;
            line-height: 2;
          }
          &--text {
            font-size: 37px;
            color: $white;
          }
        }
      }

      &--right {
        background: $white;
        width: 670px;
        max-width: 100%;
        height: 50px;

        .email {
          .email__flex {
            label {
              margin: 0 10px;
              height: 50px;
            }
            .email__input {
              max-width: 100%;
              height: 50px;
              border: 0;

              &:focus {
                outline: none;
              }
            }
          }
          .btn {
            height: 50px;
            &:focus {
              box-shadow: none;
            }
          }
        }
      }
    }
  }
}

.footer {
  background: url('https://images.unsplash.com/photo-1602021990085-f30bf3af1abb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1173&q=80');
  width: 100%;
  @include img-default();
  max-width: 100%;
  .container {
    @include container();
    padding: 7em 0 0 0;
  }

  &__filter {
    width: 100%;
    margin: 0;
    background: rgba(8, 8, 8, 0.816);
  }

  &__container {
    &--left {
      color: $white;
      .footer-flex {
        &-logo {
          .footer-flex__h2 {
            font-size: 48px;
            font-style: italic;

            font-family: 'Lobster', sans-serif;
            .text__span {
              color: $color-yellow;
            }
          }
          .line {
            background: $color-yellow;
            width: 170px;
            height: 2px;
          }
        }

        .icons {
          margin: auto 130px auto 0;

          img {
            margin: 0 50px;
          }
        }
      }

      .parag {
        font-size: 15px;
        color: $nav-link-color;
        width: 700px;
        max-width: 100%;
        margin: 30px 0;
      }

      .links__footer {
        margin-bottom: 50px;

        a {
          text-decoration: none;
          text-transform: uppercase;
          color: $white;
          padding-bottom: 51px;
          &:hover {
            color: $color-yellow;
            border-bottom: 3px solid $color-yellow;
          }
        }
        .link {
          margin-left: 80px;
        }
      }

      .line {
        background: $color-text;
        max-width: 90%;
        height: 2px;
        margin-bottom: 1em;
      }

      .copyright {
        color: $color-text;
      }
    }

    &--right {
      width: 370px;
      background: #30788b;
      margin-top: -7em;
      .footer-contacts {
        margin: 200px 20px;

        .phone {
          margin: 20px 0;
        }

        a {
          margin: 15px 0;
        }
      }
    }
  }
}

.nav-toggle {
  display: block !important;
}

@media only screen and (max-width: 1084px) {
  .travel {
    &__container {
      flex-direction: column;
      max-width: 100%;
      padding: 0 10px;

      &__img {
        margin-bottom: 20px;
        .travel__container__img__background--text-prime {
          .first {
            opacity: 1;
          }
        }
      }
    }
  }

  .recomended {
    &__container {
      &--col {
        width: auto;
        margin: 0 auto;
        @include flex-media();
        .content {
          margin-bottom: 20px;
        }
      }
    }
  }

  .testimonials {
    &__container {
      &__card {
        @include flex-media();
        max-width: 100%;
        margin: 20px auto;
        .card {
          margin-bottom: 20px;
        }
      }
    }
  }

  .subscribe {
    &__container {
      @include flex-media();
      &--left {
        margin-bottom: 20px;
      }
    }
  }

  .footer {
    &__container {
      @include flex-media();
      &--right {
        width: 100%;
        text-align: center;
        margin-top: 20px;
        color: $white;
        .footer-contacts {
          margin: 0 20px;
          a {
            max-width: 100%;
            @include flex-media();
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 960px) {
  .header {
    &__contact- {
      &-container {
        @include flex-media();
        margin: 20px 0;
      }
    }
  }
  .header .display {
    display: none;
  }

  .header .dropdown-menu {
    position: relative;
  }

  .header .drop-flex {
    display: block;
  }

  .header {
    .navb {
      &__container {
        display: block;
        .toggle {
          display: unset;
        }
        .display {
          margin-top: 50px;
          .navb__container--list {
            display: block;
            .nav-item__slash {
              display: none;
            }
            .nav-item__slash__big {
              display: none;
            }
            .nav-item {
              .dropdown-pages {
                margin: 0;
                .drop-flex {
                  display: block;
                }
              }

              .nav-link__search {
                color: $nav-link-color;
              }
            }
          }
        }
      }
    }
  }

  .main .hero__images__container__img--text-prime {
    display: flex;
  }

  .main .hero__images__container {
    @include flex-media();
    &__img {
      height: 500px;
      margin-top: 10px;
      margin-bottom: 10px;
      opacity: 1;

      &:hover {
        z-index: 98;
        margin-top: 10px;
        height: 500px;
        opacity: 1;
      }
    }
  }

  .stats__list {
    @include flex-media();
    padding: 0;
    &--line {
      display: none;
    }
  }

  .gallery__top {
    @include flex-text();
  }

  .blog__container__top {
    @include flex-text();
    margin-bottom: 20px;
  }

  .footer {
    &__container--left {
      .footer-flex {
        @include flex-text();
        .line {
          margin: 10px auto;
        }
        .icons {
          margin: auto 0 auto 0;
        }
      }
      .parag {
        margin: 30px auto;
        width: 90%;
      }
      .line {
        text-align: center;
        width: 80%;
        margin: 0 auto;
      }
      .links__footer {
        text-align: center;
      }
      .copyright {
        margin: 20px 0;
        text-align: center;
      }
    }
  }

  .main .about__container .left {
    margin: 20px auto auto auto;
    color: #fff;
  }

  .main .about__container--left .left--line {
    margin: 2em auto;
  }

  .about {
    &__container {
      @include flex-text();

      &--right {
        iframe {
          max-width: 100%;
        }
      }
    }
  }
}

@media only screen and (max-width: 770px) {
  .main .recomended .container {
    text-align: center;
  }

  .footer {
    &__container--left {
      .links__footer {
        text-align: center;
        .link {
          margin: auto 0;
        }
      }
      .copyright {
        margin: 10px 0;
        text-align: center;
      }
    }
  }

  .gallery {
    &__top {
      padding-bottom: 20px;
    }
    .container {
      flex-direction: column;
      .gallery-hover {
        width: auto;
        margin-bottom: 10px;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .main {
    .hero__container {
      &--relative {
        .carousel {
          .carousel-inner {
            .carousel-item {
              height: 500px;
              @include img-default();
              &__text {
                text-align: center;
                &--h1 {
                  font-size: 44px;
                }
                &--span-big {
                  font-size: 70px;
                }
                &--parag {
                  text-align: center;
                }
              }
            }
          }
        }
      }
    }

    .testimonials__container__card .card {
      height: 520px;
    }

    .main .testimonials__container__card .card--content .line {
      margin-left: 0 !important;
    }

    .testimonials__container__card .card--content .card-content-footer {
      display: none;
    }

    .blog {
      &__container {
        .owl-carousel {
          .item {
            padding-bottom: 2em;
            flex-direction: column;
            text-align: left;
            height: 500px;
            width: max-content;
            .item-img {
              width: 100%;
              clip-path: none;
            }

            &-content {
              margin: 20px 20px;
              .item_parag {
                max-width: 350px;
              }
              .link {
                margin-left: 0;
              }
            }
          }
        }
      }
    }
  }

  .offers__container {
    flex-direction: column;
    &__img {
      margin-bottom: 20px;
    }
  }
  .content--display {
    clip-path: none;
  }

  .main .recomended__container--col {
    display: block;
    .content {
      display: block;
      width: auto;
      height: auto;
      &--text {
        padding: 0;
        padding-top: 30px;

        margin: 30px 0;
        .links {
          @include flex-media();
          position: relative;
          .link_bg {
            margin-top: 10px;
            margin-left: 0;
          }
        }
      }
      &--display {
        clip-path: none;
        width: auto;
        position: relative;
        transition: unset;
        .first {
          left: 0;
        }
        .second {
          left: 30%;
        }
        &:hover {
          position: relative;
          width: unset;
          .second {
            left: 30%;
          }
        }
      }
    }
  }

  .footer {
    &__container--left {
      .footer-flex {
        .icons img {
          margin: 0 15px;
        }
      }
    }
  }
}

@media only screen and (min-width: 600px) {
  body {
    overflow-x: hidden;
  }
}

@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
